@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 9% 97%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 214 52% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 60 9% 94%;
    --secondary-foreground: 0 0% 9%;
    --muted: 60 9% 95%;
    --muted-foreground: 0 0% 39%;
    --accent: 214 52% 96%;
    --accent-foreground: 214 52% 25%;
    --destructive: 0 65% 48%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 6% 89%;
    --input: 60 6% 89%;
    --ring: 214 52% 25%;
    --radius: 0.375rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv11", "ss01";
    -webkit-font-smoothing: antialiased;
  }
}
